@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    #photo {
        background: none;
        margin: auto 50px;
        width: 35%
    }

    #identité {
        width: 60%;
    }

    .titre {
        flex-direction: column;
    }

    .date {
        width: 100%;
    }

    .detail {
        width: 100%;
        padding-left: 12px;
    }

    section {
        width: 54%;
    }

    .date {
        text-decoration: underline;
    }

    main {
        width: 30%;
    }
}
