@media screen and (max-width: 768px){
    #page{
        min-width: 596px;
    }
    #photo{
        background: none;
    }

    .titre{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: none;
    }

    .detail{
        width: 100%;
    }

    .date{
        width: 100%;
        text-decoration: underline;
    }

    aside:last-child{
        position: relative;
        top: 85px;
    }


}






