@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"),
         url("Montserrat/montserrat-regular.woff") format("woff"),
         url("Montserrat/montserrat-regular.ttf") format("truetype"),
         url("Montserrat/montserrat-regular.otf") format("opentype"),
         url("Montserrat/montserrat-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

/* Eléments principaux de la page */
body {
    font-family: "Montserrat-Regular", arial, sans-serif;
    background-color: #fafafa;
    color: #212121;
    max-width: 1190px;
    margin: auto;
    font-size: 100%;
}

body p {
    font-size: 1.3rem;
}

body h1 {
    font-size: 2.3rem;
}

body h2{
    font-size: 1.8rem;
}

body h3 {
    font-size: 1.3rem;
}

body h1, h2, h3 {
    text-transform: uppercase;
}

body ul {
    list-style-type: none;
    font-size: 1.3rem;
}

/* En-tête */
header {
    display: flex;
}

#photo {
    background-color: #ffc107;
    width: 32%;
    text-align: center;
    padding-top: 20px;
}

img {
    border-radius: 5em;
    border: solid 4px rgba(68, 68, 68, 0.2);
    max-width: 100%;
}

#identite {
    padding-left: 50px;
    margin-top: 65px;
}

#identite h1 {
    margin-bottom: 10px;
}

#identite p {
    margin-top: 5px;
    color: #444444;
    }

h1 span {
    color: #ffc107;
}

p span {
    text-decoration: underline #ffc107;
}

/* Bannière */
aside {
    background-color: #ffc107;
    color: #444444;
    width: 32%;
    display: flex;
    flex-direction: column;
}

aside h3 {
    background-color: #444444;
    color: #ffc107;
    text-align: center;
    padding: 7px 0;
}

aside .fas {
    font-size: 2.8em;
}

aside li {
    padding-top: 10px;
    padding-bottom: 10px;
}

main a {
    color: inherit;
    text-decoration: inherit;
    overflow: no-content;
}
#motive {
    margin-bottom: auto;
}

#motive p {
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

#loisir p {
    display: flex;
    justify-content: space-around;
}

/* Corps */
main {
    display: flex;
}

.titre {
    display: flex;
    justify-content: space-around;
}

section h2 {
    border-bottom: #ffc107 solid 0.1em;
    padding-bottom: 15px;
}

section {
    padding-left: 50px;
    width: 63%;
}

section i {
    color: #ffc107;
}

section p, h3 {
    color: #444444;
}

section p {
    text-align: justify;
}

.titre ul {
    width: 50%;
    padding-left: 0;
}

.fa-briefcase:before {
    padding-right: 30px;
}

.fa-graduation-cap::before {
    padding-right: 30px;
}

.fa-pencil-alt::before {
    padding-right: 30px;
}

.fa-circle:before {
    font-size: 0.5em;
}

.date i {
    color: #ffc107;
}

.date {
    width: 30%;
    display: flex;
}

.date p {
    padding-left: 10px;
}

.detail {
    width: 70%;
    padding-right: 10px;
}

