@font-face {
    font-family: "Montserrat";
    src: url("Montserrat/montserrat-regular.eot");
    src: local("Montserrat Regular"), local("Montserrat-Regular"), url("Montserrat/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("Montserrat/montserrat-regular.woff2") format("woff2"), url("Montserrat/montserrat-regular.woff") format("woff"), url("Montserrat/montserrat-regular.ttf") format("truetype"), url("Montserrat/montserrat-regular.svg#Montserrat") format("svg");
    font-style: normal;
    font-weight: normal;
}
/* Eléments principaux de la page */
body {
    font-family: "Montserrat", arial, sans-serif;
    background-color: #fcfdfc;
    color: #181818;
    width: 100%;
}

    body h1, h2, h3 {
        text-transform: uppercase;
    }

    body p {
        text-align: justify;
    }

    body ul {
        list-style-type: none;
    }

/* En-tête */
header {
    display: flex;
}

#photo {
    background-color: #f2e422;
    width: 35%;
}

img {
    margin: auto;
    display: block;
    border: solid 4px rgba(117, 119, 118, 0.2);
    max-width: 100%;
}

#identite {
    width: 60%;
    padding-left: 50px;
    margin-top: 65px;
}

h1 span {
    color: #f4be2d;
}

p span {
    text-decoration: underline #f4be2d;
}

/* Bannière */
main {
    background-color: #f2e422;
    color: #274897;
    width: 35%;
    display: flex;
    flex-direction: column;
    float: left;
    height: 1170px;
}

    main h3 {
        background-color: #274897;
        color: #f2e422;
        text-align: center;
    }

    main .fas {
        font-size: 2.8em;
    }

    main li {
        padding-top: 10px;
        padding-bottom: 10px;
    }

#contact {
    height: 320px;
}

#motive {
    height: 660px;
}

    #motive p {
        padding-left: 40px;
        padding-right: 40px;
    }

#loisir {
    height: 182px;
}

    #loisir p {
        display: flex;
        padding-top: 2em;
        justify-content: space-around;
    }

/* Corps */
.titre {
    display: flex;
    justify-content: space-between;
}

article h2 {
    color: #757776;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

section {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 60%;
}

.fa-briefcase:before {
    padding-right: 30px;
}

.fa-graduation-cap::before {
    padding-right: 30px;
}

.fa-pencil-alt::before {
    padding-right: 30px;
}

.fa-circle:before {
    font-size: 0.5em;
}

.date i {
    color: #f4be2d;
}

.date {
    width: 30%;
    display: flex;
}

    .date p {
        padding-left: 10px;
    }

.detail {
    width: 70%;
    padding-right: 10px;
}

/* Pied de page */
footer {
    width: 60%;
    padding-left: 50px;
    display: inline-block;
}

    footer h2 {
        color: #757776;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

    footer ul {
        padding-left: 10px;
        padding-right: 10px;
    }
